# Data Analysis with Pandas

## Sales data from more than 16,500 games

> Mohammad Ali Khalil

- 15/11/2021

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd

In [2]:
df = pd.read_csv('./assets/vgsales.csv')
### here is data for Sales from more than 16,500 games

In [6]:
df.tail(10)
df.keys() #list of the keys

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [7]:
# top_platform = df[df["Platform"] == ''

In [13]:
# Which company is the most common video game publisher?
df.Publisher.mode()[0]

'Electronic Arts'

In [14]:
# What's the most common platform?
df.Platform.mode()[0]

'DS'

In [17]:
# What about the most common genre?
df.Genre.mode()[0]

'Action'

In [39]:
# 4- What are the top 20 highest grossing games?
df.head(20)[['Name','Global_Sales']]

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [37]:
# 5- For North American video game sales, what's the median? 10games
df.sort_values(by='NA_Sales', ascending=False)[['Name','NA_Sales']]

                                   Name  NA_Sales
0                            Wii Sports     41.49
1                     Super Mario Bros.     29.08
9                             Duck Hunt     26.93
5                                Tetris     23.20
2                        Mario Kart Wii     15.85
...                                 ...       ...
8808   Jikkyou Powerful Pro Yakyuu 2012      0.00
8799           Theatrhythm Dragon Quest      0.00
8795                Countdown: The Game      0.00
13576  Kanuchi: Shiroki Tsubasa no Shou      0.00
5816                      RPG Tsukuru 2      0.00

[16598 rows x 2 columns]