# Data Analysis with Pandas

## Bicycle Trip Data from Seattleâ€™s Cycle Share System

> Mohammad Ali Khalil

- 15/11/2021

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
stations_data = pd.read_csv('./assets/station.csv')
trip_data = pd.read_csv('./assets/trip.csv', error_bad_lines = False )
weather_data = pd.read_csv('./assets/weather.csv')

/home/moegts/python/pandas/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

In [3]:
trip_data

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

## 1- What is the average trip duration for a borrowed bicycle?

In [4]:
borrowed_trip_average=trip_data['tripduration'].mean()
borrowed_trip_average

1178.2956753399776

## 2- Whatâ€™s the most common age of a bicycle-sharer?

In [5]:
most_common_bicycle_age = trip_data['birthyear'].mode()[0]
common_age = 2021-most_common_bicycle_age 
common_age

34.0

## 3- Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [6]:
month = pd.DatetimeIndex(weather_data['Date']).month
month_mean = weather_data.groupby(month)["Precipitation_In"].mean()
month_median = weather_data.groupby(month)["Precipitation_In"].median()

(month_mean,month_median)

(Date
 1     0.143548
 2     0.168421
 3     0.156935
 4     0.051333
 5     0.012419
 6     0.030500
 7     0.012097
 8     0.018226
 9     0.041000
 10    0.189000
 11    0.187833
 12    0.236290
 Name: Precipitation_In, dtype: float64,
 Date
 1     0.020
 2     0.040
 3     0.025
 4     0.000
 5     0.000
 6     0.000
 7     0.000
 8     0.000
 9     0.000
 10    0.040
 11    0.035
 12    0.100
 Name: Precipitation_In, dtype: float64)

## 4- Whatâ€™s the average number of bikes at a given bike station?

In [7]:
avareg_bike_number =stations_data["install_dockcount"].mean()
avareg_bike_number

17.586206896551722

## 5- When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

In [8]:

the_new_data = stations_data[["modification_date","install_dockcount","current_dockcount"]].dropna()
the_new_data

   modification_date  install_dockcount  current_dockcount
7          11/9/2015                 20                 18
10          8/9/2016                 16                  0
12         2/24/2015                 18                 20
17         2/24/2015                 28                 26
22         3/24/2015                 30                 24
23         3/27/2015                 12                 16
26         3/18/2016                 16                  0
31         2/24/2015                 18                 20
35         3/13/2015                 12                 20
37         2/23/2015                 18                 16
38         11/2/2015                 20                  0
39          3/4/2015                 12                 16
46        10/29/2015                 16                  0
47         2/20/2015                 12                 14
48         2/20/2015                 18                 16
49         2/20/2015                 12                 14
50         2/20/2015                 20                 14

In [9]:
data_checker= (the_new_data['current_dockcount'].sum() - the_new_data['install_dockcount'].sum())
data_checker

-64

## Testing:

In [10]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(borrowed_trip_average, 1178.2956753399776)
    assert_equal(common_age, 34)
    assert_equal(avareg_bike_number, 17.586206896551722)
    assert_equal(data_checker, -64)
    
    print("Success!!! ðŸŸ¢")

test()

Success!!! ðŸŸ¢

In [11]:
install = new_data['install_dockcount'].sum()
current = new_data['current_dockcount'].sum()
check= (current- install)
check

NameError: name 'new_data' is not defined